<%= stylesheet_link_tag "users" %>
<%= render partial: 'home/navbar'%>
<div class='text-center effect devise container' style='height:100%;'>
<h1 class = ' mb-5' style='color:#00095e;'><b>Edit Hotel Details</b></h1>
 
<%= form_with(model: @hotel, local: true) do |form| %>
 
  <% if @hotel&.errors&.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@hotel&.errors&.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @hotel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :Hotel_Name ,style:'color:#00095e;'  %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :category  ,style:'color:#00095e;' %><br>
    <p style='margin-left:520px;    '>    
    <%= form.select :category, options_for_select([['Luxury'],['Comfort'],['Economy']]), {include_blank: @hotel.category}, class: 'form-control required date-field ml-5', :onchange => 'Checkselectedone(this.value);' %>        
  </p>
  </p>
  
   <p>
    <%= form.label :Price_Per_Night ,style:'color:#00095e;'  %><br>
    <%= form.text_area :price_per_night %>
  </p>
  
  <p>
    <%= form.label :Location ,style:'color:#00095e;' %><br>
    <%= form.text_area :location %>
  </p>
  
  <p>
    <%= form.label :Contact_No ,style:'color:#00095e;' %><br>
    <%= form.text_area :contact_no %>
  </p>
 
  <p>
    <%= form.submit 'Update' ,class:'login100-form-btn',style:'width:10%;margin-left: 572px;' %>
  </p>
 
<% end %>
 
<%= link_to 'Back', hotels_path %>
</div>

<%= render partial: 'home/footer'%>
