
<%= stylesheet_link_tag "users" %>
<%= render partial: 'home/navbar'%>

<% if current_user&.buyer? %>
<div class='text-center effect devise container' style='height:520px;'>
<h2 class = ' mb-5' style='color:#00095e;'><b>Give Feed Back </b></h2>
  <%= form_with scope: :review, url:reviews_path ,local: true   do |form| %>
      <% if @review&.errors&.any? %>
        <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
     <% end %>
        <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
         <p>
          <%= form.label :Review ,style:'color:#00095e;' %><br>
          <%= form.text_field :message%>
        </p> 
      

        <p class='mt-5'> 
          <%= form.submit "Submit Review" ,class:'login100-form-btn',style:'width:20%; margin-left: 515px;'%>
        </p>
      <% end %>
  </div>
<% else%>
  You Do Not Have Access To Do This Action
<% end %>
<%= render partial: 'home/footer'%>
